

html,
body {
    margin: 0;
    padding: 0;
}

.chart-container {
    margin: 2rem;
    padding: 0.5rem;
    height: 25rem;
    width: 25rem;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.container-title {
    margin: 1rem 0.4rem;
    height: 2rem;
    width: auto;
    background-color: #2f3542;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-content {
    margin: 0.5rem;
}

/* X 버튼 */
.btn-cancel {
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 1rem;
}


/* 구조를 보기 위해 만듬*/
.chart {
    height: 20rem;
    width: 22rem;
    border: black 1px solid;
}