
html,

body {
	height: 700px;
	width: 525px;
	margin: 0 auto;
 
}

.chart-container {
	margin: 10%;
	background-color: white;
	display: flex;
	flex-direction: column;

}

.container-title {
	height: 32px;
	width: 100%;
	background-color: #2f3542;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.container-content {
	margin: 0.5rem;
}

/* X 버튼 */
.btn-cancel {
	background: none;
	border: none;
	outline: none;
	color: white;
	font-size: 1rem;
}

