doctype html
html
    head
        title 메가커피 키오스크
        <style type="text/css"> a { text-decoration:none } </style> 
        link(rel="stylesheet" href="/static/css/order.css")
    body
        div.order_main
        div.footer
            span#optionIcon ▤
            span#orderNumber 0 <br> 주문수량
            span#sum 0 <br> 합계금액
            span#cancel 전체 취소
            span#card 카드