<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>영수증 주문번호</title>
    <link rel="stylesheet" href="../static/css/bill_option.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="/static/class/ClassModules.js" defer></script>
    <script src="/static/js/bill_option.js" defer></script>
    <script src="/static/js/cover.js" defer></script>
</head>
<body>
    <div class="bill-option-contain">
        <div class="bill-option-contain-title">
            <span class="bill-option bill-option-text">영수증 주문 번호 옵션</span>
            <button class="bill-option bill-option-btn">X</button>
        </div>
        <div class="number-option-contain">
            <button class="number-option">100</button>
            <button class="number-option">200</button>
            <button class="number-option">300</button>
            <button class="number-option">400</button>
            <button class="number-option">500</button>
            <button class="number-option">600</button>
            <button class="number-option">700</button>
            <button class="number-option">800</button>
            <button class="number-option">900</button>
        </div>
        <div class="save-btn-contain">
            <button class="save-btn">저장</button>
        </div>
    </div>
</body>
</html>