doctype html
head
	meta(charset='UTF-8')
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	title 영수증 주문번호
	link(rel='stylesheet', href='../static/css/bill_option.css')
	script(src='https://code.jquery.com/jquery-3.5.1.js', integrity='sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=', crossorigin='anonymous')
	script(src='/static/class/ClassModules.js', defer='')
	script(src='/static/js/bill_option.js', defer='')
	script(src='/static/js/cover.js', defer='')
body
	.wrapper
		.top1
			| 영수증 주문 번호 옵션
			button.Xbtn#exit X
		.number-option-contain#number_list
			button.number-option 100
			button.number-option 200
			button.number-option 300
			button.number-option 400
			button.number-option 500
			button.number-option 600
			button.number-option 700
			button.number-option 800
			button.number-option 900
		.save-btn-contain
			button.save-btn#save 저장
		
				
