extends menu
include mixins/menuBlock

block content
    div.items
        each one in coffeeIce
            +menuBlock({
                src: one.getValue().imageUrl,
                name: one.getValue().name,
                price: one.getValue().price
            })