extends menu
include mixins/menuBlock

block content
    div.items
        each one in coffeeHot
            +menuBlock({
                src: one.src,
                name: one.name,
                price: one.price
            })