doctype html
html
    head
        title 메가커피 키오스크
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous")
        link(rel="stylesheet" type="text/css" href="/static/css/cover.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
        script(src="/static/class/ClassModules.js")
        script(src="/static/js/cover.js")
    body
        div.bg
            div
                img.bg_image(src="static/picture/bg.jpg" alt="picture")
            div.buttons
                span
                    button#takeout_false 
                        a(href="#") 먹고 가기 &gt;
                    button#takeout_true
                        a(href="#") 포장 하기 &gt;
            div.managerBtn
                <i class="far fa-user-circle"></i>
                span#megaName 메가커피 외대점
