doctype html
html
    head
        title 메가커피 키오스크
        link(rel="stylesheet" type="text/css" href="/static/css/cover.css")
    body
        div.bg
            div
                img.bg_image(src="static/picture/bg.jpg" alt="picture")
            div.buttons
                span
                    button
                        a(href=routes.coffeeHot) 먹고 가기 &gt;
                    button
                        a(href=routes.coffeeHot) 포장 하기 &gt;