extends menu
include mixins/menuBlock

block content
    div.items
        each one in menu
            +menuBlock({
                src: one.getValue().image,
                name: one.getValue().name,
                price: one.getValue().price,
                cat: one.getValue().cat
            })