html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title 지난 6개월간 월별 매출
    link(rel="stylesheet" href="/static/css/chart-style.css?ver=1" type="text/css")
    script(type="text/javascript" src="https://www.google.com/jsapi")
    script(type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js")
    script(type="text/javascript" src="/static/js/monthlysales.js" charset="UTF-8" )
  body
    .wrapper
      .top1
        span.container-content 매출 관리
        button.container-content.Xbtn#Xbtn X
      .top2
        span.container-content.container-content-text 지난 6개월간 월별 매출액 조회 결과입니다.
      #chart_div.chart(align="center")
      .data
        input#resultTable(type="text" value=resultTable hidden="hidden")
