doctype html
html(lang="ko")
  head
    link(href="../static/css/password_check.css" rel="stylesheet")
    // Required meta tags
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    // Bootstrap CSS
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
    // Optional JavaScript
    // jQuery first, then Popper.js, then Bootstrap JS
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
    script(src="../static/js/password_check.js")
    title complete
  body
    #wrapper
      #top
        | 관리자 비밀번호를 입력하세요.
      #num
        #insert_num
          | 1234456666
      #Buttons
        .buttons_wrapper
          #row1.row
            button.btn(onclick="number1()") 1
            button.btn(onclick="number2()") 2
            button.btn(onclick="number3()") 3
          #row2.row
            button.btn(onclick="number4()") 4
            button.btn(onclick="number5()") 5
            button.btn(onclick="number6()") 6
          #row3.row
            button.btn(onclick="number7()") 7
            button.btn(onclick="number8()") 8
            button.btn(onclick="number9()") 9
          #row4.row
            button.btn(onclick="delete_all()") 전체삭제
            button.btn(onclick="number0()") 0
            button.btn(onclick="delete_one()") <
      #bottom
        .bottom_wrapper
          #row4.row
            button#cancle.bottom_button 취소
            button#okay.bottom_button(onclick="check()") 확인