doctype html
html
    head
        title 메가커피 키오스크
        link(rel="stylesheet" type="text/css" href="/static/css/menu.css")
        link(rel="stylesheet" type="text/css" href="/static/css/refund.css")
        link(rel="stylesheet" type="text/css" href="/static/css/date-picker.css")
        script(src='http://code.jquery.com/jquery-1.9.1.js')
        script(src='http://code.jquery.com/ui/1.10.2/jquery-ui.js')
        script(src='/static/js/date-picker.js')

    body
        header
            h2 영수증 관리
        nav
            .date-picker.navlist
                .input
                    .result
                        | Select Date: 
                        span
                    button
                        i.fa.fa-calendar
                .calendar
            .navlist 주문번호 조회
            .navlist 승인번호 조회
            .navlist 영수증 재출력
            .navlist 반품
        section.main
            table.refundlist
                tr
                    th No
                    th 주문번호
                    th 거래일시
                    th 매장/T.O.
                    th 금액
                    th 적립
                each one in refund
                    tr
                        td.item_id=` ${one.getValue().id} `
                        td.item_orderTime=` ${one.getValue().orderTime} `
                        td.item_TO=` 테이크 아웃 `
                        td.item_price=` ${one.getValue().price} `
                        td.item_payment=` 카드 `
                        td.item_stamp=""

        
