
html,
body {
    height: 700px;
    width: 525px;
    margin: 0 auto;
 
}


.bill-option-contain {

    margin: 10%;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.bill-option-contain-title {
    height: 32px;
    width: 100%;
    background-color: #2f3542;
    color: white;
    display: flex;
    justify-content: space-between;
}

.bill-option {
    margin-left: 4.8px;
    padding: 4.8px;
}

.bill-option-btn {
    outline: none;
    border-style: none;
    background: none;
    color: white;
    font-size: 22.4px;
    padding-right: 8px;
}

.number-option-contain {
    padding: 8px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.number-option {
    margin: 3.2px;
    padding: 22.4px;
    border-style: none;
    background-color: #57606f;
    color: white;
    outline: none;
    justify-content: center;
}
.save-btn-contain {
    display: flex;
    flex-direction: row-reverse;
}

.save-btn {
    margin: 3.2px;
    margin-right: 11.2px;
    padding: 16px 96px;
    border-style: none;
    outline: none;
    background-color: #ff4757;
    color: white;

}


.clicked-number-option {
    background-color: teal;
    transform: scale(1.05);
    transition-duration: 0.3s;
}