#wrapper {
    width: 525px;
    height: 654px;
    margin: 0px auto;
    border: 3px solid gray;
}

#top {
    width: 525px;
    height: 10%;
    background-color: grey;
    text-align: center;
    line-height: 2.3;
    color: white;
    font-size: 30px;
}

#num {
    width: 525px;
    height: 15%;
}

#Buttons {
    width: 525px;
    height: 65%;
}

#bottom {
    width: 525px;
    height: 15%;
}

#insert_num {
    width: 88%;
    height: 96%;
    margin: 0 auto;
    border-bottom: 3px solid blue;
    font-size: 75px;
    text-align: center;
}

.row {
    margin: 0 auto;
    width: 90%;
    height: 90%;
}

.buttons_wrapper {
    width: 94%;
    height: 95%;
    margin: 0 auto;
    padding-top: 10px;
}

.btn {
    position: center;
    margin: 0 auto;
    border-radius: 5px;
    width: 32%;
    height: 90%;
    font-size: 50px;
    background-color: darkgrey;
    vertical-align: middle;
}

.row {
    padding-left: 30px;
    width: 100%;
    height: 27%;
}

.bottom_button {
    position: center;
    margin: 0 auto;
    padding-top: 20px;
    border-radius: 5px;
    position: center;
    width: 49%;
    font-size: 25px;
    background-color: darkgrey;
    text-align: center;
}

#cancle {
    background-color: red;
    color: white;
}

#okay {
    background-color: blue;
    color: white;
}