body {
	height: 700px;
	width: 525px;
	margin: 0 auto;
}

nav {
	width: 100%;
}

main {
	width: 100%;
}

article {
	max-height: 400px;
	overflow: scroll;
}

table {
	font-size: 10px;
	width: 100%;
	max-height: 400px;
	overflow: scroll;
}

.table-fix-head {
	overflow-y: auto;
	height: 100px;
}
	.table-fix-head thead th {
		position: sticky;
		top: -1px; 
	}
