doctype html
html(lang="ko")
  head
    style.
      #wrapper{
      width: 525px;
      height: 654px;
      margin: 0px auto;
      border: 3px solid gray;
      }
      #top{
      width: 525px;
      height: 10%;
      background-color:grey;
      text-align: center;
      line-height: 2.3;
      color: white;
      font-size: 30px;
      }
      #num{
      width: 525px;
      height: 15%;
      }
      #Buttons{
      width: 525px;
      height: 65%;
      }
      #bottom{
      width: 525px;
      height: 15%;
      }
      #insert_num{
      width: 88%;
      height: 96%;
      margin: 0 auto;
      border-bottom: 3px solid blue;
      font-size: 75px;
      text-align: center;
      }
      .row{
      margin:0 auto;
      width: 90%;
      height:90%;
      }
      .buttons_wrapper{
      width: 94%;
      height: 95%;
      margin: 0 auto;
      padding-top: 10px;
      }
      .btn{
      position: center;
      margin : 0 auto;
      border-radius:5px;
      width: 32%;
      height: 90%;
      font-size: 50px;
      background-color: darkgrey;
      vertical-align: middle;
      }
      .row{
      padding-left: 30px;
      width: 100%;
      height:27%;
      }
      .bottom_button{
      position: center;
      margin : 0 auto;
      padding-top: 20px;
      border-radius:5px;
      position: center;
      width: 49%;
      font-size: 25px;
      background-color: darkgrey;
      text-align: center;
      }
      #cancle{
      background-color:red;
      color: white;
      }
      #okay{
      background-color: blue;
      color: white;
      }
    script.
      function check(){
      }
      function number0() {
      $('#insert_num').append('0')
      }
      function number1() {
      $('#insert_num').append('1')
      }
      function number2() {
      $('#insert_num').append('2')
      }
      function number3() {
      $('#insert_num').append('3')
      }
      function number4() {
      $('#insert_num').append('4')
      }
      function number5() {
      $('#insert_num').append('5')
      }
      function number6() {
      $('#insert_num').append('6')
      }
      function number7() {
      $('#insert_num').append('7')
      }
      function number8() {
      $('#insert_num').append('8')
      }
      function number9() {
      $('#insert_num').append('9')
      }
      function delete_one() {
      $('#insert_num').pop()
      }
      function delete_all() {
      $('#insert_num').empty()
      }
    // Required meta tags
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    // Bootstrap CSS
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
    // Optional JavaScript
    // jQuery first, then Popper.js, then Bootstrap JS
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
    title complete
  body
    #wrapper
      #top
        | 관리자 비밀번호를 입력하세요.
      #num
        #insert_num
          | 1234456666
      #Buttons
        .buttons_wrapper
          #row1.row
            button.btn(onclick="number1()") 1
            button.btn(onclick="number2()") 2
            button.btn(onclick="number3()") 3
          #row2.row
            button.btn(onclick="number4()") 4
            button.btn(onclick="number5()") 5
            button.btn(onclick="number6()") 6
          #row3.row
            button.btn(onclick="number7()") 7
            button.btn(onclick="number8()") 8
            button.btn(onclick="number9()") 9
          #row4.row
            button.btn(onclick="delete_all()") 전체삭제
            button.btn(onclick="number0()") 0
            button.btn(onclick="delete_one()") <
      #bottom
        .bottom_wrapper
          #row4.row
            button#cancle.bottom_button 취소
            button#okay.bottom_button(onclick="check()") 확인