doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title bill option number
    link(rel="stylesheet" href="style.css")
    script(src="bill-option.js" defer="")
  body
    .bill-option-contain
      .bill-option-contain-title
        span.bill-option.bill-option-text 영수증 주문 번호 옵션
        button.bill-option.bill-option-btn X
      .number-option-contain
        button.number-option 100
        button.number-option 200
        button.number-option 300
        button.number-option 400
        button.number-option 500
        button.number-option 600
        button.number-option 700
        button.number-option 800
        button.number-option 900
      .save-btn-contain
        button.save-btn 저장
